<div class="boxed">
  <div class="box_relationships" id="<%= association_name %>">

    <div class="page-heading padded clearfix">
      <h2>
        <%= association_name.titleize.humanize.pluralize %>
        <small><%= add_new %></small>
      </h2>
    </div>

    <div class="padded">
      <% if @items.any? -%>
      <%= table %>
      <% else %>
      <p><%= Typus::I18n.t("No %{resources} found.", :resources => association_name.humanize.downcase) %></p>
      <% end %>
    </div>

  </div>
</div>